
.wd-title{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
    margin: 5vh 0 0 0;
    text-align: center;
}

.wd-title-span{
    display: flex;
    justify-content: center;
    color: #fff;
    
}


/* GuessTheLetter */
.wd-container-GTL{
    display: grid; /* Establece el contenedor como un grid */
    grid-template-columns: repeat(5, 1fr); /* Define 5 columnas de tamaño igual */
    grid-gap: 15px; /* Espacio entre las celdas */
    margin-top: 10px;
    width: 70%;
    height: 8vh;
}



.wd-input-cell{
    background-color: #333;
    border: 1px solid black;
    border-radius: 6px;
    width: 100%;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase
}


.wd-board{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wd-keyboard-container{
    width: 100%;
}


.row {
    display: flex;
    width: 100%;
    height: 9vh;
    margin-top: 6px;
    gap: 5px;
}

.row:first-child {
    margin-top: 70px; /* Por ejemplo, aquí el margin-top es mayor para el primer .row */
}

.button-letter{
    width: 100%;
    height: 9vh;
    background-color: #555;
    display:flex ;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #eeeded;
}

.button-letter:hover{
    background-color: #444;
    cursor: pointer;
}

#correct{
    background-color: rgb(8, 145, 8);
}

#almost{
    background-color:rgb(204, 173, 0);
}

#wrong{
    background-color: #2a2a2a;
}


@media (max-width: 600px) {

    .row{
        margin-top: 10px;
    }

}
@media (max-width: 1020px){
    .wd-container-GTL{
        width: 90%;
    }
}


/* FINAL BOARD */

.board-container{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp-container{
    width: 20%;
    height: 30%;
    padding: 1vh;
    background-color: #555;
    color: aliceblue;
    text-align: center;
    border-radius: 12px;
}

.popUp-container p{
    font-size: 18px;
}

.popUp-container button{

    margin-top:5vh;
    width: 40%;
    height: 5vh;
    background-color:  rgb(8, 145, 8);
    color: #eeeded;
    font-size: 17px;
    border-radius: 5px;
    border: none; /* Quitamos el borde */
    cursor: pointer;
}

.popUp-title{
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
}




